#headerLines{
    background-color: black;
    padding: 1%;
}

#upperHeaderLine, #bottomHeaderLine{
    display: flex;

}

#upperHeaderLine{
    justify-content: end;
    gap: 2%;
    align-items: center;
}
#bottomHeaderLine{
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.headerLineTitle{
    color: white;
    margin: 0;
    padding: 1%;

}

.headerLineTitle:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
}

#imgCarrito{
    width: 3%;
    filter: invert();

    
}

#imgCarrito:hover{
    background-color: white;
    filter: none;
    cursor: pointer;
}

#btnLogout{
    display: none;
}

#btnOrders{
    display: none;
}

@media (width < 1024px){
    #headerLines{
        
    }
    .headerLineTitle{
        font-size: 1rem;
    }

    #bottomHeaderLine{
        flex-direction: column;  
        gap: 15px;      
    }

    #upperHeaderLine .headerLineTitle{
        border: 1px solid white;
        border-radius: 5px;
        background-color: #4e4e4e;
    }

    #bottomHeaderLine .headerLineTitle{
        border: 1px solid white;
        width: 80%;
        text-align: center;

    }

    #upperHeaderLine, #bottomHeaderLine{
        padding: 10px;
    
    }

    #imgCarrito{
        width: 10%;

    }


    #upperHeaderLine{
        justify-content: end;
        gap: 2%;
        align-items: center;
        padding: 30px;
    }
}

