body{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;   
    font-size: 1rem;
    

}

#banner{
    height: 70vh;
    background-color: blue;
    background-image: url('/imagenes/portada2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

#bannerTitle{
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: white;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.356);
}
#bannerTitle2{
    position: absolute;
    color: white;
    right: 10%;
    top: 5%;
    font-size: 2rem;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 10px;
}
#bannerP{
    position: absolute;
    right: 10%;
    top: 40%;
    color: white;
    font-size: 1.5rem;
    text-align: right;

}
#btnBanner{
    position: absolute;
    bottom: 10%;
    right: 10%;

}
.btnGreen{
    padding: 15px;
    background-color: rgb(25, 117, 25);
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bannerFilter{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    
}